:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

#app {
  height: 100vh;
  display: grid;
  place-content: center;
}

#canvas1 {
  background-image: url(/src/assets/sprites/bakgrund.png);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 0 0px 20px rgb(27, 27, 27);
}


#start-menu {
  justify-content: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(23, 23, 23);
  height: 820px;
  aspect-ratio: 1.635 /1;
  max-height: 100%;
  text-align: center;
}

#pause-menu {
  justify-content: center;
  position: absolute;
  display: none;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(20, 20, 20, 0.416);
  backdrop-filter: blur(2px);
  height: 820px;
  aspect-ratio: 1.635 /1;
  max-height: 100%;
  text-align: center;
  
}

.controls-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#controls-menu {
  justify-content: center;
  position: absolute;
  display: none;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(20, 20, 20, 0.967);
  backdrop-filter: blur(2px);
  width: 1340px;
  height: 820px;
  padding: 1rem;
  text-align: center;
  gap: 40px;
}

#gameOver {
  justify-content: center;
  position: absolute;
  display: none;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(23, 23, 23);
  height: 820px;
  aspect-ratio: 1.635 /1;
  max-height: 100%;
  text-align: center;
}